@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background: linear-gradient(rgba(217, 209, 209, 0.4),rgba(0,0,0,0.4)), url(../images/rochas.jpg) no-repeat;
  background-size: cover;
  font-family: sans-serif;
  max-height: 1px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container2 {
  margin-top: 50px;
  justify-content: start;
}


/*Cabeçalho*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f6f4;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  padding: 1rem 5rem;
  width: 100%;
}


/*Corpo*/
.grid-container{
  background: url(../images/Welcome.png) no-repeat;
  width: 100%;
  height: 100%;
  margin-left: 1px;
  margin-right: 1px;
}

.grid-container > div{
  border: 1px solid black;
  background-color: #bbe0d4;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  margin-top: 125px;
}

.galeria{
  width: 500px;
  display: inline-block;

}

#map{  
  position: fixed;
  right: 20px;
  height: 70%;
  width: 40%;
}




/*Rodapé*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d9979;
  color: white;
  text-align: center;
  width: 100%;
}