
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7f6;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  padding: 1rem 5rem;
  width: 100%;
}

/*Rodapé*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d9979;
  color: white;
  text-align: center;
  width: 100%;
}