@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7f6;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  padding: 1rem 5rem;
  width: 100%;
}

header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  font-size: 3rem;
  color:#666;
}

header .navbar ul li a:hover{
  color:var(--green);
}

.container2{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;  
  border: 5px #e9e7e7  solid;
  padding-top: 10ch;
  margin-left: 0px;
  margin-right: 700px;
}

main{
  display: block;
  margin: 20px;
  margin-top: 15px;
  padding: 50px 30px 5px 0px;
}

div.img{
  flex-direction: column;
	display: inline-block;
}

#map{
  position: fixed;
  margin-top: 50px;
  right: 10px;
  height: 70%;
  width: 30%;
}

/*Rodapé*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d9979;
  color: white;
  text-align: center;
  width: 100%;
}