@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*Cabeçalho*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7f6;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  padding: 1rem 5rem;
  width: 100%;
}

header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  font-size: 3rem;
  color:#666;
}

header .navbar ul li a:hover{
  color:var(--green);
}


/*Corpo*/

.grid-container{
  display: grid;
  grid-template-areas: 'main right right';
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  
}

.grid-container > div{
  background-color: #1af4ab;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  margin-top: 125px;
}

 
#map{
  
  position: fixed;
  right: 20px;
  height: 70%;
  width: 40%;
}




/*Rodapé*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d9979;
  color: white;
  text-align: center;
  width: 100%;
}